* {
    font-family: "Baloo 2", "Comic Neue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(6, 97, 139);
}

.header {
    background-color: rgb(241, 221, 39);
    padding: 1%;
}
.header h1{
    text-align: center;
    font-size: 45px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    gap: 2rem;
}
.rock, .paper, .scissor {
  width: clamp(100px, 20vw, 250px); /* never smaller than 100px, never larger than 250px, otherwise 20% of viewport width */
  aspect-ratio: 1/1;                /* keeps height = width */
  border: 2px solid black;
  border-radius: 50%;
  background: rgb(241,241,241);
  display: flex;                    /* to center the inner <img> */
  align-items: center;
  justify-content: center;
}
.rock img, .paper img, .scissor img {
  width: 80%;
  height: auto;
}
.click.go {
    display: block;
    margin: auto;
    width: 200px;
    height: 60px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}
#play-again{
    height: 80px;
    width: 300px;
    border-radius: 10px;
    font-size: 35px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 2rem;
}
.hidden {
  display: none;
}
#result-dance {
    height: 200px;
    width: 200px;
}